## Files selection to ignore...
SOURCE/DualSPHysics/*.*
!SOURCE/DualSPHysics/*.vcxproj
!SOURCE/DualSPHysics/*.vcxproj.user
!SOURCE/DualSPHysics/*.vcxproj.filters
!SOURCE/DualSPHysics/*.sln
!SOURCE/DualSPHysics/_ClearTempFiles.bat

SOURCE/DualSPHysics/Source/*.a

SOURCE/DualSPHysics/Intermediate
SOURCE/DualSPHysics/ipch

RUN_DIRECTORY/*
!RUN_DIRECTORY/EXAMPLE_WIN
!RUN_DIRECTORY/EXAMPLE_WIN/*
RUN_DIRECTORY/EXAMPLE_WIN/*_out
!RUN_DIRECTORY/EXAMPLE_LINUX
!RUN_DIRECTORY/EXAMPLE_LINUX/*
RUN_DIRECTORY/EXAMPLE_LINUX/*_out

!/README.md
!/LICENSE.md
!/CONTRIBUTING.md

__Tools__
