## Ignores all Visual Studio 2015 files except the basic one.
src/VS/*
!src/VS/_ClearTempFiles.bat
!src/VS/*.vcxproj
!src/VS/*.vcxproj.user
!src/VS/*.vcxproj.filters
!src/VS/*.sln

## Ignores output of examples in 01_DamBreak.
examples/main/01_DamBreak/*_out

## Ignores other directories.
__Tools__
_out_UpdateHelp
_out_CompileLinux

## Ignores temporary files.
bin/windows/*.iobj
bin/windows/*.ipdb
bin/windows/*.lib
bin/windows/*.exp
